@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}


body {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  min-height: 100%;
  background-color: #F0F0F0;
  /*color: #333333;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
}




.page-container {
  width: 1440px;
  margin: 0 auto;
  background-color: #ffffff;
  z-index: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  text-transform: uppercase;
  border: none;
}

/*.button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}*/

.header {
  position: relative;
  margin: 0 auto;
  width: 1160px;
}

.header::before {
  content: "";
  width: 1160px;
  height: 300px;
  background: url(/images/header/background-image.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  margin-top: 20px
}

.navigation-wrapper {
  width: 1040px;
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 60px;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  outline: 1px solid red;
  outline-offset: -1px;
}

.header-logo {
  width: 145px;
  height: 36px;
  display: block;
  object-fit: contain;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  outline: 1px solid red;
  outline-offset: -1px;

}

.search-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 1040px;
  margin: 0;
  padding: 0;
  align-items: center;


  outline: 1px solid red;
  outline-offset: -1px;
}

.search-form {
  width: 517px;
  height: 40px;
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
  position: relative;
  outline: 1px solid red;
  outline-offset: -1px;
}

.input-search-info {
  border-radius: 50px 0 0 50px;
  border: 2px solid #000;
  width: 359px;
  height: 40px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  background-color: #FFE17F;

}

.input-search-info::placeholder {
  color: rgba(0, 0, 0, 0.3);
  padding-left: 48px;
}

.search-form::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 16px;
  background: url(/images/header/search-icon.svg) no-repeat;

  outline: 1px solid red;
  outline-offset: -1px;
}

.button-search {
  border-radius: 0 50px 50px 0;
  border: 2px solid #000;
  width: 160px;
  height: 40px;
  box-sizing: border-box;
  text-align: center;
  background-color: #FFE17F;
  ;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 0;
  margin-left: -2px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-right: 0;
  margin-left: 26px;
  list-style-type: none;
  width: 497px;
  justify-content: start;

  outline: 1px solid red;
  outline-offset: -1px;
}

.navigation-link {
  text-decoration: none;
  color: #000;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.navigation-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation-sign-in {
  width: 231px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 27px;
  position: relative;
}

.navigation-sign-in::before {
  content: "";
  background: url(/images/header/icon-sign-in.svg) no-repeat;
  width: 15px;
  height: 12px;
  left: 0;
  top: 10px;
  position: absolute;

}

.navigation-item:last-child {
  padding-left: 36px;
  justify-content: end;
}

.main-navigation-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

.navigation-catalog {
  margin: 0;
  padding: 0;
  width: 293px;
  height: 50px;
  margin-right: 276px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navigation-catalog-link {
  text-decoration: none;
  color: #000;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.main-navigation {
  margin: 0;
  padding: 0;
}

.main-navigation-item {
  margin: 0;
  padding: 0;
}

.main-navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  text-align: center;
  justify-content: space-between;
  width: 471px;
  height: 21px;
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
  margin-top: 15px;
}


.main-navigation-link {
  text-decoration: none;
  color: #000;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.main-container {
  margin: 0 auto;
  padding: 0;
  flex-grow: 1;

}

.promotion-section {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1160px;
  min-height: 560px;
  margin-bottom: 70px;

  outline: 1px solid red;
  outline-offset: -1px;
}

.promotion-slider {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;

}

.promotion-slider-image {
  width: 560px;
  height: 560px;
  position: absolute;
  z-index: 1;
  top: -15px;
  left: 0;
  object-fit: contain;

  outline: 1px solid red;
  outline-offset: -1px;
}

.promotion-list {
  width: 560px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-top: 106px;
  padding-bottom: 38px;
  align-items: start;
  z-index: 1;

  outline: 1px solid red;
  outline-offset: -1px;
}

.promotion-slogan {
  color: #000;
  font-family: "Raleway";
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  margin: 0;
  padding: 0;

  outline: 1px solid red;
  outline-offset: -1px;

}

.promotion-text {
  color:#444;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-top: 29px;

  outline: 1px solid red;
  outline-offset: -1px;
}

.promotion-details {
  text-decoration: none;
  width: 220px;
  color: #000;
  text-align: center;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;

  outline: 1px solid red;
  outline-offset: -1px;
}

.promotion-details::before {
    content: "";
    border-bottom: 8px solid #FFE17F;
    position: absolute;
    top: 7px;
    left: 0;
    width: 220px;
    z-index: -1;
    box-sizing: border-box;
    appearance: none;
}

.details-argument-wrapper {
  display: grid;
  grid-template-columns: 140px 147px;
  column-gap: 20px;
  row-gap: 12px;
  width: 307px;
  margin: 0;
  padding: 0;
}

.details-argument-item {
  color: #000;
  font-family: "Rubik";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  display: flex;

  outline: 1px solid red;
  outline-offset: -1px;
}

.details-argument {
  color: #444;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;

  outline: 1px solid red;
  outline-offset: -1px;
}

.directory-section {
  margin: 0 auto;
  padding: 0;
  width: 1160px;
}

.directory-section-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.directory-section-container {
  display: grid;
  gap: 32px;
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
  width: 160px;

  outline: 1px solid red;
  outline-offset: -1px;

}


.index-catalog-images {
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  box-sizing: border-box;
  color: #363636;
  background-position: center;
  margin: 0;
  padding: 0;

  outline: 1px solid red;
  outline-offset: -1px;
}

.index-catalog-link {
  color: #000;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.36px;
  text-decoration: none;
  list-style-type: none;
  width: 160px;

  outline: 1px solid red;
  outline-offset: -1px;
}


.advantages {
  padding: 0;
  margin: 0 140px 72px 140px;
  width: 1160px;
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;

  outline: 1px solid red;
  outline-offset: -1px;
}

.advantages::before {
  content: "";
  background-color: #F0F0F0;
  width: 1440px;
  position: absolute;
  bottom: 0;
  left: -140px;
  top: 102px;
  z-index: -2;

  outline: 1px solid red;
  outline-offset: -1px;
}

.advantages-navigation {
  text-decoration: none;
  margin: 0;
  padding: 0;
  border-right: 7px solid #000000;
}

.advantages-list {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 64px;
  margin-top: 65px;
  padding: 0;
  width: 280px;
  display: grid;
  row-gap: 35px;
  text-align: center;
  box-sizing: border-box;

  outline: 1px solid red;
  outline-offset: -1px;
}

.advantages-item {
  width: 280px;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 120px;
  position: relative;

  outline: 1px solid red;
  outline-offset: -1px;
}

.advantages-link {
  text-decoration: none;
  color: #000;
  text-align: center;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  outline: 1px solid red;
  outline-offset: -1px;
}

.advantages-item:not(.advantages-item-marked)::before {
  content: "";
  border-bottom: 8px solid #FFE17F;
  position: absolute;
  top: 14px;
  left: 0;
  width: 160px;
  z-index: -1;
  box-sizing: border-box;
  appearance: none;
}


.advantages-item-marked {
  background-color: #000000;
  padding-top: 9px;
  padding-bottom: 10px;
}

.advantages-link-marked {
  color: #FFE17F;
}

.advantages-marked {
  width: 453px;
  margin: 0;
  padding: 0;
  margin-left: 116px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  outline: 1px solid red;
  outline-offset: -1px;
}

.advantages-marked::before {
  content: "";
  background: url(/images/advantages/advantages-decor.svg) no-repeat;
  width: 136px;
  height: 164px;
  position: absolute;
  right: 0;

  outline: 1px solid red;
  outline-offset: -1px;

}

.advantages-title {
  color: #000;
  font-family: "Raleway";
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  margin: 0;
  padding: 0;
}

.advantages-info {
  color: #444;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-top: 34px;

}

.advantages-block {
  display: none;
}

.advantages-slogan-block {
  margin: 0 auto;
  padding: 40px 0;
  width: 1160px;
  display: flex;
  align-items: center;
  background-color: #F0F0F0;
  justify-content: center;
  position: relative;
  box-sizing: border-box;

  outline: 1px solid red;
  outline-offset: -1px;
}

.advantages-slogan-block::before {
  content: "";
  position: absolute;
  background-image: url(/images/advantages/advantages-slogan-decor.svg);
  background-repeat: no-repeat;
  background-color: #FFE17F;
  background-position: center;
  width: 125px;
  height: 100px;
  margin: 0;
  padding: 0;
  left: 0;

  outline: 1px solid red;
  outline-offset: -1px;
}

.advantages-slogan-block::after {
  content: url(/images/advantages/ellipse-decor.svg);
  position: absolute;
  background-image: url(/images/advantages/advantages-slogan-decor-i.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  border: none;
  margin: 0;
  padding: 0;
  right: 42.5px;

  outline: 1px solid red;
  outline-offset: -1px;
}

.advantages-slogan-info {
  color: #000;
  text-align: center;
  font-family: "Raleway";
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
  width: 910px;
  margin: 0;

  outline: 1px solid red;
  outline-offset: -1px;
}

.contacts-container {
  margin: 0 auto;
  padding: 0;
  margin-top: 70px;
  margin-bottom: 70px;
  width: 1160px;
  display: grid;
  grid-template-columns: 520px 532px;
  column-gap: 108px;

  outline: 1px solid red;
  outline-offset: -1px;
}

.contacts-about-info {
  width: 520px;
  margin: 0;
  padding: 0;
  position: relative;


  outline: 1px solid red;
  outline-offset: -1px;
}


.contacts-title {
  margin: 0;
  margin-top: 47px;
  padding: 0;
  color: #000;
  font-family: "Raleway";
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  display: flex;
  flex-wrap: wrap;

  outline: 1px solid red;
  outline-offset: -1px;
}

.delivery-methods-list {
  display: flex;
  flex-wrap: wrap;
  width: 175px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  outline: 1px solid red;
  outline-offset: -1px;

}

.contacts-full-info {
  width: 532px;
  margin: 0;
  padding: 0;
  position: relative;


  outline: 1px solid red;
  outline-offset: -1px;
}

.contacts-about-info::before,
.contacts-full-info::before {
  content: "";
  border-bottom: 7px solid #000000;
  position: absolute;
  top: 0;
  left: 0;
  width: 84px;
  z-index: -1;
  appearance: none;
}

.info-slogan,
.delivery-slogan {
  color: #444;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-top: 48px;
  margin-bottom: 30px;

  outline: 1px solid red;
  outline-offset: -1px;
}

.delivery-methods-list {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 175px;
  row-gap: 19px;
  width: 175px;
}

.delivery-method {
  margin: 0;
  padding: 0;

}

.delivery-method-link {
  margin: 0;
  padding: 0;
  padding-left: 34px;
  color: #000;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  text-decoration: none;
  position: relative;


  outline: 1px solid red;
  outline-offset: -1px;
}

.delivery-method-link::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #FFC700;
  left: 0;
  top: 6px;
  z-index: 2;
  appearance: none;


  outline: 1px solid red;
  outline-offset: -1px;
}

.about-detail-wrapper {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;


  outline: 1px solid red;
  outline-offset: -1px;
}

.about-detail-wrapper::before {
  content: "";
  position: absolute;
  border-bottom: 8px solid #FFE17F;
  width: 270px;
  left: 0;
  top: 16px;
  z-index: -1;
}

.contacts-about-detail {
  margin: 0;
  padding: 10px 6.14px;
  text-decoration: none;
  color: #000;
  text-align: center;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;

}

.address-title {
  color: #444;
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  padding: 0;

  outline: 1px solid red;
  outline-offset: -1px;
}

.contacts-address {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  width: 532px;

}

.contacts-address-text {
  color: #444;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding: 0;

  outline: 1px solid red;
  outline-offset: -1px;

}

.contacts-phone {
  color: #444;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-decoration-line: underline;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 154px;

  outline: 1px solid red;
  outline-offset: -1px;
}

.worktime-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 204px;
  margin-bottom: 30px;

  outline: 1px solid red;
  outline-offset: -1px;
}

.worktime-title {
  color: #444;
  font-family: "Rubik";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;

  outline: 1px solid red;
  outline-offset: -1px;
}

.worktime-item {
  margin: 0;
  padding: 0;
  color: #444;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 204px;

  outline: 1px solid red;
  outline-offset: -1px;
}

.message-link-wrapper {
  margin: 0;
  padding: 0;
  width: 259px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;

  outline: 1px solid red;
  outline-offset: -1px;
}

.message-link-wrapper::before {
  content: "";
  border-bottom: 8px solid #FFE17F;
  position: absolute;
  top: 16px;
  left: 0;
  width: 259px;
  z-index: -1;
  appearance: none;
}

.message-link {
  margin: 0;
  padding: 10px 0;
  width: 259px;
  color:#000;
  text-align: center;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
}

/* Подвал сайта */
.page-footer {
  margin: 0;
  padding: 0;
  background-color: #444444;
  width: 1440px;
}

.footer-phone {
  margin: 0;
  padding: 0;
  width: 174px;
  display: flex;
  align-items: flex-start;
}

.footer-phone-link {
  color: #FFF;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration-line: underline;
  text-align: center;
  text-transform: capitalize;
  margin: 0;
  padding: 0;
}

.footer-contacts-logo-htmlacademy {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  color: #FFC700;
}


.product-list {
  width: 840px;
  margin: 0;
  padding-top: 70px;
  padding-left: 40px;
  padding-right: 40px;
}
