@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;

  outline: 1px solid red;
  outline-offset: -1px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  min-height: 100%;
  width: 1440px;


  outline: 1px solid red;
  outline-offset: -1px;
}





.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

/*.button:disabled {
  background-color: #e5e5e5;
  color: #ffffff;
}*/

.header {
  margin: 0 auto;
  width: 1160px;


  outline: 1px solid red;
  outline-offset: -1px;

}


.header-wrapper {
  width: 1160px;
  height: 325px;
  padding: 5px 60px 0 60px;
  margin: 0;
  margin-top: 15px;
  position: relative;
  background: linear-gradient(0deg, #FFE17F 92%, #FFFFFF 0%);


  outline: 1px solid red;
  outline-offset: -1px;
}


.header-logo-wrapper {
  margin: 0;
  padding: 0;
  width: 145px;
  height: 36px;
  display: flex;
  flex-wrap: wrap;
}

.header-logo {
  width: 145px;
  height: 36px;
  display: block;
  object-fit: contain;
  margin: 0;
  padding: 0;

  outline: 1px solid red;
  outline-offset: -1px;

}

.search-navigation-wrapper {
  display: grid;
  grid-template-columns: 517px 231px 240px;
  width: 1040px;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-top: 30px;
  align-items: center;


  outline: 1px solid red;
  outline-offset: -1px;
}

.search-form {
  width: 517px;
  height: 40px;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;

  outline: 1px solid red;
  outline-offset: -1px;
}

.input-search-info {
  border-radius: 50px 0 0 50px;
  border: 2px solid #000;
  width: 359px;
  height: 40px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  background-color: #FFE17F;

}

.input-search-info::placeholder {
  color: rgba(0, 0, 0, 0.3);
  padding-left: 48px;
}

.search-form::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 12px;
  left: 16px;
  background: url(../images/header/search-icon.svg) no-repeat;

  outline: 1px solid red;
  outline-offset: -1px;
}

.button-search {
  border-radius: 0 50px 50px 0;
  border: 2px solid #000;
  width: 160px;
  height: 40px;
  box-sizing: border-box;
  text-align: center;
  background-color: #FFE17F;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 0;
  margin-left: -2px;
}

.navigation-authentication-wrapper {
  margin: 0;
  padding: 0;
  width: 231px;

}

.navigation-authentication {
  margin: 0;
  padding: 0;


  outline: 1px solid red;
  outline-offset: -1px;
}

.navigation-authentication-list {
  margin: 0;
  padding: 0;
}



.navigation-authentication-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: 27px;
  width: 231px;
  position: relative;
}

.navigation-authentication-link {
  text-decoration: none;
  color: #000;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;

  outline: 1px solid red;
  outline-offset: -1px;
}



.navigation-authentication-sign-in {
  margin: 0;
  padding: 0;
  width: 81px;
  display: flex;

  outline: 1px solid red;
  outline-offset: -1px;
}

.navigation-authentication-item::before {
  content: "";
  background: url(../images/header/icon-sign-in.svg) no-repeat;
  width: 15px;
  height: 12px;
  left: 0;
  top: 10px;
  position: absolute;

}



.navigation-choice-wrapper {
  margin: 0;
  padding: 0;
  width: 240px;


}

.navigation-choice {
  margin: 0;
  padding: 0;
  width: 240px;
  list-style-type: none;
  display: grid;
  grid-template-columns: 105px 99px;
  column-gap: 36px;
  justify-items: end;

}

.navigation-choice-item {
  margin: 0;
  padding: 0;


}

.navigation-item-cart {
  margin: 0;
  padding: 0;
  padding-left: 12px;
  position: relative;
  display: block;
}

.navigation-item-cart::before {
  content: "";
  position: absolute;
  background: url(../images/header/cart-icon.svg) no-repeat;
  width: 16px;
  height: 14px;
  left: -12px;
  top: 7px;
}

.tooltip-toggle-cart {
  position: absolute;
  background-color: #FFFFFF;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  right: 164px;
  bottom: 14px;
  display: block;


  outline: 1px solid red;
  outline-offset: -1px;
}

.tooltip-toggle-cart::before {
  content: "2";
  position: absolute;
  color: #000;
  text-align: center;
  font-family: "Rubik";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  top: 3px;
  right: 6px;


}

.navigation-item-simile {
  margin: 0;
  padding: 0;
  padding-left: 12px;
  position: relative;
}

.navigation-item-simile::before {
  content: "";
  position: absolute;
  background: url(../images/header/simile-icon.svg) no-repeat;
  width: 10px;
  height: 12px;
  left: -12px;
  top: 9px;
}

.navigation-choice-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #000;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}


/* Tooltip-toggle-cart */
.tooltip-wrapper {
  width: 320px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: -14px;
  top: 116px;

}

.tooltip-cart {
  background-color: #000;
  width: 320px;
  margin: 0;
  padding: 0 20px;
  position: relative;

  display: none;
}

.tooltip-cart::before {
  content: "";
  position: absolute;

  top: -20px;
  left: 150px;

  border: 14px solid transparent;
  border-bottom: 10px solid #000000;

  display: inline-block;



}



.tooltip-toggle-cart:hover + .tooltip-cart,
.tooltip-toggle-cart:focus + .tooltip-cart {
  display: block;
  z-index: 1000;
}

.tooltip-cart-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
}

.tooltip-cart-list::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  background-image: url(../images/tooltip-cart/cross-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  right: 0;
  top: 20px;
}

.tooltip-list-product {
  color: #FFF;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  max-width: 170px;

}

.tooltip-list-image {
  width: 39px;
  height: 43px;
  margin: 0;
  padding: 0;
  object-fit: cover;
  margin-right: 23px;
}

.tooltip-list-total-wrapper {
  display: flex;
  margin: 0;
  padding: 12px 0;
  justify-content: space-between;
}

.tooltip-list-total {
  color: #FFF;
  text-align: right;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  padding: 0;
}

.button-open-cart {
  width: 280px;
  height: 50px;
  margin: 20px 0;
  color: #000;
  text-align: center;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  background-color: #FFF;
}

.main-navigation-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

.navigation-catalog {
  margin: 0;
  padding: 0;
  width: 293px;
  height: 50px;
  margin-right: 276px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;

  outline: 1px solid red;
  outline-offset: -1px;
}

.navigation-catalog::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: url(../images/header/plus.svg) no-repeat center;
  right: 7px;
  top: 0;

  outline: 1px solid red;
  outline-offset: -1px;

}

.navigation-catalog-link {
  text-decoration: none;
  color: #000;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  outline: 1px solid red;
  outline-offset: -1px;
}

.main-navigation {
  margin: 0;
  padding: 0;
}

.main-navigation-item {
  margin: 0;
  padding: 0;
}

.main-navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  text-align: center;
  justify-content: space-between;
  width: 471px;
  height: 21px;
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
  margin-top: 15px;
}


.main-navigation-link {
  text-decoration: none;
  color: #000;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.main-container {
  margin: 0 auto;
  padding: 0;
  flex-grow: 1;

}



.promotion-slider-wrapper {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1160px;
  position: relative;

  outline: 1px solid red;
  outline-offset: -1px;

}


.promotion-slider-wrapper::before {
  content: "01";
  position: absolute;
  color: #FFFFFF;
  text-align: right;
  font-family: "Rubik";
  font-size: 180px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  display: flex;
  width: 250px;
  height: 135px;
  flex-direction: column;
  justify-content: center;
  right: 49px;
  top: -122px;

  outline: 1px solid red;
  outline-offset: -1px;

}

.promotion-slider-wrapper-second::before {
  content: "02";
  position: absolute;
  color: #FFFFFF;
  text-align: right;
  font-family: "Rubik";
  font-size: 180px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  display: flex;
  width: 250px;
  height: 135px;
  flex-direction: column;
  justify-content: center;
  right: 49px;
  top: -122px;

  outline: 1px solid red;
  outline-offset: -1px;
}

.promotion-slider-wrapper-third::before {
  content: "03";
  position: absolute;
  color: #FFFFFF;
  text-align: right;
  font-family: "Rubik";
  font-size: 180px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  display: flex;
  width: 250px;
  height: 135px;
  flex-direction: column;
  justify-content: center;
  right: 49px;
  top: -122px;

  outline: 1px solid red;
  outline-offset: -1px;
}

.promotion-slider-image {
  margin: 0;
  padding: 0;
  width: 560px;
  height: 560px;
  position: absolute;
  z-index: 1;
  top: -150px;
  display: block;

  outline: 1px solid red;
  outline-offset: -1px;
}


.promotion-slider {
  margin: 0;
  padding: 0;
  position: relative;

}

.slider-controls {
  position: absolute;
  top: 63px;
  width: 560px;
  display: flex;
  justify-content: space-between;
}

.slider-button {
  width: 20px;
  height: 60px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  cursor: pointer;
  background-image: url("../images/promotion-images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 30px;



  outline: 1px solid red;
  outline-offset: -1px;
}

.slider-next {
  transform: rotate(180deg);

  outline: 1px solid red;
  outline-offset: -1px;
}


.slider-pagination {
  width: 76px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-top: -11px;
  padding: 0;
  list-style-type: none;
  cursor: pointer;
  position: absolute;
  left: 910px;

  outline: 1px solid red;
  outline-offset: -1px;
}





.slider-pagination-button {
  width: 12px;
  height: 12px;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  display: block;




}

.slider-pagination-button:hover {
  background-color: #af7842;
}

.slider-pagination-button:focus {
  background-color: #dbb590;
  outline: none;
}

.slider-pagination-button-current {
  background-color: #242424;
}


.promotion-list {
  width: 560px;
  max-height: 401px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-top: -27px;
  margin-bottom: 38px;
  align-items: start;
  z-index: 1;

  outline: 1px solid red;
  outline-offset: -1px;
}

.promotion-slogan {
  color: #000;
  font-family: "Raleway";
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  margin: 0;
  padding: 0;

  outline: 1px solid red;
  outline-offset: -1px;

}

.promotion-text {
  color: #444;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-top: 29px;

  outline: 1px solid red;
  outline-offset: -1px;
}

.promotion-details {
  text-decoration: none;
  width: 220px;
  height: 40px;
  color: #000;
  text-align: center;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 5px;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;

  outline: 1px solid red;
  outline-offset: -1px;
}

.promotion-details::before {
  content: "";
  border-bottom: 8px solid #FFE17F;
  position: absolute;
  top: 17px;
  left: 0;
  width: 220px;
  z-index: -1;
  box-sizing: border-box;
  appearance: none;
}

.details-argument-wrapper {
  display: flex;
  margin: 0;
  padding: 0;

}

.details-argument-item {
  color: #000;
  font-family: "Rubik";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: 12px;
  margin-right: 20px;
  display: flex;
  min-width: 155px;

  outline: 1px solid red;
  outline-offset: -1px;
}

.details-argument {
  color: #444;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-right: 20px;
  display: flex;
  min-width: 155px;

  outline: 1px solid red;
  outline-offset: -1px;
}

.directory-section {
  margin: 70px auto;
  padding: 0;
  width: 1160px;
}

.directory-section-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.directory-section-container {
  display: grid;
  gap: 33px;
  margin: 0;
  padding: 0;
  width: 160px;

  outline: 1px solid red;
  outline-offset: -1px;

}


.index-catalog-images {
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  box-sizing: border-box;
  color: #363636;
  background-position: center;
  margin: 0;
  padding: 0;

  outline: 1px solid red;
  outline-offset: -1px;
}

.index-catalog-link {
  color: #000;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.36px;
  text-decoration: none;
  list-style-type: none;
  width: 160px;
  height: 60px;

  outline: 1px solid red;
  outline-offset: -1px;
}


.advantages {
  padding: 0;
  margin: 0 140px 72px 140px;
  width: 1160px;
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;

  outline: 1px solid red;
  outline-offset: -1px;
}

.advantages::before {
  content: "";
  background-color: #F0F0F0;
  width: 1440px;
  position: absolute;
  bottom: 0;
  left: -140px;
  top: 102px;
  z-index: -2;

  outline: 1px solid red;
  outline-offset: -1px;
}

.advantages-navigation {
  text-decoration: none;
  margin: 0;
  padding: 0;
  border-right: 7px solid #000000;
}

.advantages-list {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 64px;
  margin-top: 65px;
  padding: 0;
  width: 280px;
  display: grid;
  row-gap: 35px;
  text-align: center;
  box-sizing: border-box;

  outline: 1px solid red;
  outline-offset: -1px;
}

.advantages-item {
  width: 280px;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 120px;
  position: relative;

  outline: 1px solid red;
  outline-offset: -1px;
}

.advantages-link {
  text-decoration: none;
  color: #000;
  text-align: center;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;

  outline: 1px solid red;
  outline-offset: -1px;
}

.advantages-item:not(.advantages-item-marked)::before {
  content: "";
  border-bottom: 8px solid #FFE17F;
  position: absolute;
  top: 14px;
  left: 0;
  width: 160px;
  z-index: -1;
  box-sizing: border-box;
  appearance: none;
}


.advantages-item-marked {
  background-color: #000000;
  padding-top: 9px;
  padding-bottom: 10px;
}

.advantages-link-marked {
  color: #FFE17F;
}

.advantages-marked {
  margin: 0;
  padding: 0;
  margin-left: 116px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  outline: 1px solid red;
  outline-offset: -1px;
}

.advantages-marked-delivery {
  width: 453px;

  outline: 1px solid red;
  outline-offset: -1px;


}


.advantages-marked-delivery::before {
  content: "";
  background: url(../images/advantages/advantages-delivery.svg) no-repeat;
  width: 136px;
  height: 164px;
  position: absolute;
  right: 63px;

  outline: 1px solid red;
  outline-offset: -1px;

}

.advantages-marked-guarantee {
  width: 479px;
  display: none;

}

.advantages-marked-guarantee::before {
  content: "";
  background: url(../images/advantages/advantages-guarantee.svg) no-repeat;
  width: 171px;
  height: 195px;
  position: absolute;
  right: 28px;

  outline: 1px solid red;
  outline-offset: -1px;

}

.advantages-marked-credit {
  width: 475px;
  display: none;

}

.advantages-marked-credit::before {
  content: "";
  background: url(../images/advantages/advantages-credit.svg) no-repeat;
  width: 156px;
  height: 188px;
  position: absolute;
  right: 28px;

  outline: 1px solid red;
  outline-offset: -1px;

}


.advantages-title {
  color: #000;
  font-family: "Raleway";
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  margin: 0;
  padding: 0;
}

.advantages-info {
  color: #444;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-top: 34px;

}


.advantages-slogan-block {
  margin: 0 auto;
  padding: 40px 0;
  width: 1160px;
  display: flex;
  align-items: center;
  background-color: #F0F0F0;
  justify-content: center;
  position: relative;
  box-sizing: border-box;

  outline: 1px solid red;
  outline-offset: -1px;
}

.advantages-slogan-block::before {
  content: "";
  position: absolute;
  background-image: url(../images/advantages/advantages-slogan-decor.svg);
  background-repeat: no-repeat;
  background-color: #FFE17F;
  background-position: center;
  width: 125px;
  height: 100px;
  margin: 0;
  padding: 0;
  left: 0;

  outline: 1px solid red;
  outline-offset: -1px;
}

.advantages-slogan-block::after {
  content: url(../images/advantages/ellipse-decor.svg);
  position: absolute;
  background-image: url(../images/advantages/advantages-slogan-decor-i.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  border: none;
  margin: 0;
  padding: 0;
  right: 42.5px;

  outline: 1px solid red;
  outline-offset: -1px;
}

.advantages-slogan-info {
  color: #000;
  text-align: center;
  font-family: "Raleway";
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
  width: 910px;
  margin: 0;

  outline: 1px solid red;
  outline-offset: -1px;
}

.contacts-container {
  margin: 0 auto;
  padding: 0;
  margin-top: 70px;
  margin-bottom: 70px;
  width: 1160px;
  display: grid;
  grid-template-columns: 520px 532px;
  column-gap: 108px;

  outline: 1px solid red;
  outline-offset: -1px;
}

.contacts-about-info {
  width: 520px;
  margin: 0;
  padding: 0;
  position: relative;


  outline: 1px solid red;
  outline-offset: -1px;
}


.contacts-title {
  margin: 0;
  margin-top: 47px;
  padding: 0;
  color: #000;
  font-family: "Raleway";
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  display: flex;
  flex-wrap: wrap;

  outline: 1px solid red;
  outline-offset: -1px;
}

.delivery-methods-list {
  display: flex;
  flex-wrap: wrap;
  width: 175px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  outline: 1px solid red;
  outline-offset: -1px;

}

.contacts-full-info {
  width: 532px;
  margin: 0;
  padding: 0;
  position: relative;


  outline: 1px solid red;
  outline-offset: -1px;
}

.contacts-about-info::before,
.contacts-full-info::before {
  content: "";
  border-bottom: 7px solid #000000;
  position: absolute;
  top: 0;
  left: 0;
  width: 84px;
  z-index: -1;
  appearance: none;
}

.info-slogan,
.delivery-slogan {
  color: #444;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-top: 48px;
  margin-bottom: 30px;

  outline: 1px solid red;
  outline-offset: -1px;
}

.delivery-methods-list {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 175px;
  row-gap: 19px;
  width: 175px;
}

.delivery-method {
  margin: 0;
  padding: 0;

}

.delivery-method-link {
  margin: 0;
  padding: 0;
  padding-left: 34px;
  color: #000;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  text-decoration: none;
  position: relative;


  outline: 1px solid red;
  outline-offset: -1px;
}

.delivery-method-link::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #FFC700;
  left: 0;
  top: 6px;
  z-index: 2;
  appearance: none;


  outline: 1px solid red;
  outline-offset: -1px;
}

.about-detail-wrapper {
  margin: 0;
  padding: 0;
  margin-top: 30px;
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;


  outline: 1px solid red;
  outline-offset: -1px;
}

.about-detail-wrapper::before {
  content: "";
  position: absolute;
  border-bottom: 8px solid #FFE17F;
  width: 270px;
  left: 0;
  top: 16px;
  z-index: -1;
}

.contacts-about-detail {
  margin: 0;
  padding: 10px 6.14px;
  text-decoration: none;
  color: #000;
  text-align: center;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;

}

.address-title {
  color: #444;
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;

  outline: 1px solid red;
  outline-offset: -1px;
}

.contacts-address {
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  width: 532px;

}

.contacts-address-text {
  color: #444;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding: 0;

  outline: 1px solid red;
  outline-offset: -1px;

}

.contacts-phone {
  color: #444;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-decoration-line: underline;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 154px;

  outline: 1px solid red;
  outline-offset: -1px;
}

.worktime-wrapper {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 204px;
  margin-bottom: 30px;

  outline: 1px solid red;
  outline-offset: -1px;
}

.worktime-title {
  color: #444;
  font-family: "Rubik";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;

  outline: 1px solid red;
  outline-offset: -1px;
}

.worktime-item {
  margin: 0;
  padding: 0;
  color: #444;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  width: 204px;

  outline: 1px solid red;
  outline-offset: -1px;
}

.message-link-wrapper {
  margin: 0;
  padding: 0;
  width: 259px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;

  outline: 1px solid red;
  outline-offset: -1px;
}

.message-link-wrapper::before {
  content: "";
  border-bottom: 8px solid #FFE17F;
  position: absolute;
  top: 16px;
  left: 0;
  width: 259px;
  z-index: -1;
  appearance: none;
}

.message-link {
  margin: 0;
  padding: 10px 0;
  width: 259px;
  color: #000;
  text-align: center;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
}

.subscribe {
  margin: 0;
  padding: 0;
  width: 1440px;
  background-color: #F0F0F0;

  outline: 1px solid red;
  outline-offset: -1px;
}

.subscribe-container {
  display: grid;
  grid-template-columns: 348px 560px;
  column-gap: 252px;
  width: 1160px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 144px;

  outline: 1px solid red;
  outline-offset: -1px;
}

.subscribe-title {
  margin: 0;
  padding: 0;
  margin-top: 64px;
  color: #000;
  font-family: "Raleway";
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  width: 348px;

  outline: 1px solid red;
  outline-offset: -1px;
}

.subscribe-description {
  margin: 0;
  padding: 0;
  margin-top: 74px;
  color: #444;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 560px;

  outline: 1px solid red;
  outline-offset: -1px;
}

.subscribe-form-wrapper {
  margin: 0;
  padding: 0;
  display: grid;
  width: 1158px;
  grid-template-columns: 810px 160px;
  justify-content: space-between;
  margin-left: 141px;
  margin-right: 141px;
  padding-bottom: 56px;

  outline: 1px solid red;
  outline-offset: -1px;
}


.subscribe-form {
  margin: 0;
  padding: 0;
  width: 810px;
  display: flex;

}

.input-email {
  width: 557px;
  height: 57px;
  background: #F0F0F0;
  border: none;
  border-bottom: 3px solid #C4C4C4;
  margin: 0;
  padding: 0;
  padding-left: 16px;

  box-sizing: border-box;
  flex-grow: 1;

}

.input-email::placeholder {
  color: rgba(68, 68, 68, 0.5);
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  padding: 0;



}

.button-subscribe {
  margin: 0;
  padding: 18px 39px;
  width: 253px;
  height: 57px;
  color: #000;
  text-align: center;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  border: 3px solid #C4C4C4;
  box-sizing: border-box;
}

.subscribe-reason {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 160px;
  position: relative;
  color: #444;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;

  outline: 1px solid red;
  outline-offset: -1px;
}

.subscribe-reason::before {
  content: "";
  position: absolute;
  background: url(../images/subscribe/tick-big.svg) no-repeat;
  width: 16px;
  height: 16px;
  background-position: center;
  left: 0;
  top: 20px;

  outline: 1px solid red;
  outline-offset: -1px;
}

/* Подвал сайта */
.page-footer {
  margin: 0 auto;
  padding: 0;
  background-color: #444444;
  width: 1440px;

  outline: 1px solid red;
  outline-offset: -1px;
}

.footer-container {
  margin: 0;
  padding: 0 140px;
  width: 1440px;
}

.footer-logo {
  width: 145px;
  height: 36px;
  margin: 0;
  padding: 0;
  margin-top: 61px;


  outline: 1px solid red;
  outline-offset: -1px;
}

.footer-navigation-wrapper {
  margin: 0 auto;
  padding: 0;
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: start;

  outline: 1px solid red;
  outline-offset: -1px;
}

.contacts-address {
  margin: 0;
  padding: 0;
  width: 239px;
  display: flex;
  flex-wrap: wrap;

  outline: 1px solid red;
  outline-offset: -1px;
}

.contacts-address-text {
  margin: 0;
  padding: 0;
  color: #FFF;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;


}

.footer-navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 444px;
  margin-left: 119px;
  margin-right: 183px;

}

.footer-navigation-item {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

.footer-navigation-link {
  text-decoration: none;
  color: #FFF;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.footer-phone {
  margin: 0;
  padding: 0;
  width: 174px;
  display: flex;
  justify-content: start;



  outline: 1px solid red;
  outline-offset: -1px;
}

.footer-phone-link {
  color: #FFF;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration-line: underline;
  text-align: center;
  text-transform: capitalize;
  margin: 0;
  padding: 0;

  outline: 1px solid red;
  outline-offset: -1px;
}

.footer-social-wrapper {
  margin: 0 auto;
  padding: 0;
  margin-top: 45px;
  margin-bottom: 60px;
  display: flex;
  justify-content: end;
  position: relative;


  outline: 1px solid red;
  outline-offset: -1px;

}


.footer-social-wrapper::before {
  margin: 0;
  padding: 0;
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: #FFC700;
  left: 0;
  bottom: 16px;

  outline: 1px solid red;
  outline-offset: -1px;

}


.footer-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  width: 150px;
  justify-content: space-between;


  outline: 1px solid red;
  outline-offset: -1px;

}

.footer-social-item {
  margin: 0;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  outline: 1px solid red;
  outline-offset: -1px;
}



.footer-social-tme {
  margin: 0;
  padding: 12px;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;



  outline: 1px solid red;
  outline-offset: -1px;
}


.footer-social-youtube {
  margin: 0;
  padding: 12px;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;



  outline: 1px solid red;
  outline-offset: -1px;
}

.footer-social-twitter {
  margin: 0;
  padding: 0;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;

  outline: 1px solid red;
  outline-offset: -1px;
}


.footer-contacts-logo-htmlacademy {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  text-align: end;
  margin: 0;
  padding: 0;
  margin-left: 390px;
  margin-top: 3px;
  color: #FFC700;

  outline: 1px solid red;
  outline-offset: -1px;
}


.main-inner {
  flex-grow: 1;
  padding-left: 140px;
  padding-right: 140px;
  width: 1440px;
  background: linear-gradient(0deg, #F0F0F0 90%, #FFFFFF 0%);



  outline: 1px solid red;
  outline-offset: -1px;
}

.inner-header {
  width: 1160px;
  margin: 0;
  padding: 0;
  padding-left: 60px;
  margin-bottom: 34px;


  outline: 1px solid red;
  outline-offset: -1px;

}

.inner-header-title {
  color: #000;
  font-family: "Raleway";
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
  margin: 0;
  padding: 0;
  margin-top: 35px;
  margin-bottom: 16px;


}



.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;

  outline: 1px solid red;
  outline-offset: -1px;
}


.breadcrumbs-item {
  position: relative;

  list-style-type: none;

  outline: 1px solid red;
  outline-offset: -1px;
}

.breadcrumbs-link {
  margin-right: 32px;
  text-decoration: none;
  color: #000;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;


  outline: 1px solid red;
  outline-offset: -1px;
}



.breadcrumbs-item::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 14px;
  width: 4px;
  height: 7px;
  background: url(../images/catalog/breadcrumbs-icon.svg) no-repeat;

}

.breadcrumbs-item:last-child::after {
  content: none;
}



.catalog-products {
  display: flex;
  margin: 0;
  padding: 0;



  outline: 1px solid red;
  outline-offset: -1px;
}

.catalog-filter {
  width: 200px;
}

.catalog-filter-wrapper {
  width: 320px;
  margin: 0;
  padding: 0;
  padding-left: 60px;

  display: flex;
  flex-direction: column;
  list-style-type: none;

  outline: 1px solid red;
  outline-offset: -1px;
}

.select-control-title {
  color: #000;
  font-family: "Raleway";
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 25px;


  outline: 1px solid red;
  outline-offset: -1px
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
  margin-top: 35px;
  outline: 1px solid red;
  outline-offset: -1px;
}

.catalog-filter-title {
  color: #000;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  padding-top: 12px;

}

.range-scale {
  width: 200px;
  position: relative;
  height: 2px;
  margin-bottom: 16px;
  margin-top: 20px;
  background-color: #DCDCDC;
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 2px;
  background-color: #000000;
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background: #EBEBEB;
  border: 2px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: border-box;
}

.range-toggle:hover {
  background-color: #dbb590;
}

.range-toggle:active,
.range-toggle:focus {
  outline: 3px solid #dbb590;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: start;
  width: 200px;
  margin: 0;
  padding: 0;
}

.catalog-filter-label {
  display: flex;
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
  font-family: "Rubik";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-right: 55px;
}

.range-input {
  width: 30px;
  padding: 0 3px;
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
  font-family: "Rubik";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}


.control {
  position: relative;
  display: block;
  padding-left: 36px;

}



.control-mark {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  border-radius: 3px;
  border: 2px solid #CCCCCC;
  box-sizing: border-box;
}

.control-mark-checked {
  border-color: #000000;
}

.control:hover .control-mark {
  border-color: #814b18;
}

.control-input:disabled + .control-mark {
  border-color: #242424;
}



.control-input[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  content: "";
  background: url(../images/catalog/tick.svg) no-repeat;

}




.control-input[type="radio"] + .control-mark {
  border-radius: 50%;


}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 22px;
  height: 22px;
  content: "";
  background: url(../images/catalog/radio.svg) no-repeat;
}




.control-label {
  color: #000;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;


}



.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  padding-top: 20px;


  outline: 1px solid red;
  outline-offset: -1px;

}


.catalog-filter-item:not(:last-child) {
  margin-bottom: 17px;
}

.button-filter-show {
  width: 220px;
  height: 40px;
  margin: 0;
  padding: 10px 5px;
  margin-top: 35px;
  color: #000;
  text-align: center;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;


}

.button-filter-show::before {
  content: "";
  border-bottom: 8px solid #FFE17F;
  position: absolute;
  top: 16px;
  left: 0;
  width: 220px;
  z-index: -1;
  appearance: none;
}

.catalog-right-column {
  width: 840px;
  margin: 0;
  padding: 0;
  margin-bottom: -1px;
  background: #FFF;


  outline: 1px solid red;
  outline-offset: -1px;
}

/* Сортировка */
.sorting-container {
  display: flex;
  align-items: center;
  padding: 20px 40px;
  width: 840px;
  background: #F0F0F0;

  outline: 1px solid red;
  outline-offset: -1px;
}

.sorting-container .button {
  width: 30px;
  height: 30px;


  outline: 1px solid red;
  outline-offset: -1px;
}

.sorting-control-title {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: "Raleway";
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;


}

.select-control {
  margin: 0 auto;
  padding: 0;
  width: 141px;
  color: #000;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  background: #F0F0F0;
  appearance: none;
  background-image: url(../images/catalog/select-icon.svg);
  background-repeat: no-repeat;
  background-position: right 0 center;
  border: none;


  outline: 1px solid red;
  outline-offset: -1px;
}

.button-up {
  width: 30px;
  height: 30px;
  background: url(../images/sorting/button-up.svg) no-repeat;
  background-position: center;

  outline: 1px solid red;
  outline-offset: -1px;
}

.button-down {
  width: 30px;
  height: 30px;
  background: url(../images/sorting/button-down.svg) no-repeat;
  background-position: center;

  outline: 1px solid red;
  outline-offset: -1px;
}


.product-list {
  width: 840px;
  margin: 0;
  padding: 70px 40px 0 40px;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  justify-content: space-between;
  row-gap: 44px;
  list-style-type: none;




  outline: 1px solid red;
  outline-offset: -1px;
}

.product-card-new {
  position: relative;
}

.product-card-new::after {
  content: "";
  position: absolute;
  border-radius: 60px;
  border: 2px solid rgba(0, 0, 0, 0.60);
  width: 60px;
  height: 60px;
  background-image: url(../images/catalog/new-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: inherit;
  right: 27px;
  top: 27px;

  outline: 1px solid red;
  outline-offset: -1px;

}

.product-info-wrapper {
  display: flex;
  width: 360px;
  margin: 0;
  padding: 0;
  margin-top: 32px;
  align-items: center;
  justify-content: space-between;
}

.product-card-link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: flex;

  outline: 1px solid red;
  outline-offset: -1px;
}

.product-card-image {
  margin: 0;
  padding: 0;
  width: 360px;
  height: 380px;
  object-fit: cover;

  outline: 1px solid red;
  outline-offset: -1px;
}



.product-card-title {
  margin: 0;
  padding: 0;
  width: 226px;
  color: #000;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  text-decoration: none;


  outline: 1px solid red;
  outline-offset: -1px;
}

.product-card-price {
  color: #444;
  text-align: right;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-self: start;

  outline: 1px solid red;
  outline-offset: -1px;
}

/* Пагинация */
.pagination-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 78px;

  outline: 1px solid red;
  outline-offset: -1px;

}


.button-download-more {
  width: 760px;
  height: 61px;
  margin: 44px 40px;
  padding: 18px 39px;
  border: 3px solid #E5E5E5;
  background: #FFF;
  color: #000;
  text-align: center;
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;

  outline: 1px solid red;
  outline-offset: -1px;
}

.pagination-navigation-container {
  display: grid;
  align-items: center;
  width: 760px;
  margin: 0 40px;
  padding: 0;
  grid-template-columns: 128px 491px 141px;
  justify-content: space-between;
  background: #EBEBEB;

  outline: 1px solid red;
  outline-offset: -1px;
}



.pagination-back,
.pagination-forward {
  height: 71px;
  margin: 0;
  padding: 25px;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;



  outline: 1px solid red;
  outline-offset: -1px;
}


.pagination-back {
  color: rgba(68, 68, 68, 0.3);

  outline: 1px solid red;
  outline-offset: -1px;
}

.pagination-number {
  margin: 0 auto;
  padding: 0;

  outline: 1px solid red;
  outline-offset: -1px;
}

.pagination {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

  outline: 1px solid red;
  outline-offset: -1px;
}

.pagination-link {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  color: rgba(68, 68, 68, 0.3);
  text-align: center;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;


  outline: 1px solid red;
  outline-offset: -1px;
}

.pagination-current {
  color: #444444;

  outline: 1px solid red;
  outline-offset: -1px;
}


/* Модальное окно */
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  outline: 1px solid red;
  outline-offset: -1px;
}

.modal {
  margin: 0 auto;
  padding: 0;
  background: #FFFFFF;
  position: relative;


  outline: 1px solid red;
  outline-offset: -1px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 95px;
  right: 90px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  background-image: url(../images/modal/icon-close.svg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  border: none;
  background-position: center;

  outline: 1px solid red;
  outline-offset: -1px;
}



.modal-content {
  margin: 0;
  padding: 72px 80px;
  border: 10px solid #000;
  background: #FFF;
  box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.10);
  width: 940px;
  box-sizing: border-box;
}





.modal-title {
  margin: 0;
  padding: 0;
  margin-bottom: 42px;
  color: #000;
  font-family: "Raleway";
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;

  outline: 1px solid red;
  outline-offset: -1px;
}

.field-group-wrapper {
  width: 760px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 360px);
  justify-content: space-between;
  margin-bottom: 42px;

  outline: 1px solid red;
  outline-offset: -1px;
}



.name-form,
.email-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 14px;
  color: #000;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;

}

.field-name {
  color: rgba(0, 0, 0, 0.3);
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  appearance: none;
  border: none;
  background-color: #F0F0F0;
  background-image: url(../images/modal/icons-name.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  display: flex;
  width: 360px;
  margin: 0;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}



.field-email {
  color: #000;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  appearance: none;
  border: 2px solid #FF3D3D;
  background-color: #F0F0F0;
  background-image: url(../images/modal/icon-email.svg);
  background-repeat: no-repeat;
  background-position: right 20px center;
  display: flex;
  width: 360px;
  margin: 0;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}


.error-message {
  color: #FF3D3D;
  font-family: "Rubik";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}





.delivery-info-wrapper {
  width: 760px;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 540px 180px;
  justify-content: space-between;
  margin-bottom: 42px;

  outline: 1px solid red;
  outline-offset: -1px;
}

.delivery-form,
.quantity-form {
  color: #000;
  font-family: "Rubik";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  display: flex;
  margin: 0;
  padding: 0;
  margin-bottom: 14px;
}

.quantity-form-wrapper {
  position: relative;
}


.field-info {
  color: rgba(0, 0, 0, 0.3);
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  appearance: none;
  border: none;
  background-color: #F0F0F0;
  width: 540px;
  margin: 0;
  padding: 20px;

  outline: 1px solid red;
  outline-offset: -1px;
}


.quantity-buttons {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 60px);
  width: 180px;
  height: 60px;
  margin: 0;
  padding: 0;
  background-color: #F0F0F0;
  align-items: center;

  outline: 1px solid red;
  outline-offset: -1px;
}

.field-quantity {
  color: #000;
  text-align: center;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  appearance: none;
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
  background-color: #F0F0F0;
  border: none;


  outline: 1px solid red;
  outline-offset: -1px;
}

.minus,
.plus {
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  outline: 1px solid red;
  outline-offset: -1px;
}


.minus:hover,
.plus:hover,
.field-quantity:hover {
  color: rgba(0, 0, 0, 1);

}

.minus:focus,
.plus:focus,
.field-quantity:focus,
.minus:focus-visible,
.plus:focus-visible,
.field-quantity:focus-visible {
  color: rgba(0, 0, 0, 1);
  outline: none;
}


.minus:active,
.plus:active,
.field-quantity:active {
  color: rgba(0, 0, 0, 0.2);
  outline: none;
}


.tooltip {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 26px;
  height: 26px;
  left: 120px;
  top: -3px;



}


.tooltip-toggle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #FFE17F;
  background-image: url(../images/modal/icon-info.svg);
  background-repeat: no-repeat;
  background-position: center;

  border: none;
  display: block;
}

.tooltip-text {
  background: #000;
  box-shadow: 0 10px 0 0 rgba(0, 0, 0, 0.10);
  text-transform: none;
  width: 200px;
  padding: 19px;
  position: absolute;
  right: -39px;
  top: 36px;
  display: none;

  color: #FFF;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.tooltip-text::before {
  border: 14px solid transparent;
  border-bottom: 10px solid #000000;
  content: "";
  display: inline-block;
  position: absolute;
  top: -21px;
  right: 37px;


}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  z-index: 1000;
  display: block;
}

.send-form-button {
  border: none;
  width: 200px;
  height: 20px;
  padding: 0;
  margin: 0;
  color: #000;
  text-align: center;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  background-color: #FFFFFF;
}

.send-form-button::before {
  content: "";
  border-bottom: 8px solid #FFE17F;
  position: absolute;
  top: 6px;
  left: 0;
  width: 200px;
  z-index: -1;
  box-sizing: border-box;
  appearance: none;
}
